@model UserVM
@using WebFront_End.Models
@{
    ViewData["Title"] = "Home Page";
}

<h1>Hello @Model.GetFullName()</h1>
<form asp-controller="Activity" asp-action=Index method="post">
    <input type="submit" value="Add Activity" class="btn btn-success" />
</form>
<div class="container border">
    <div class="row">
        <div class="col AC_header">
            <p>Type</p>
        </div>
        <div class="col AC_header">
            <p>Title</p>
        </div>
        <div class="col AC_header">
            <p>Start Time</p>
        </div>
        <div class="col AC_header">
            <p>End Time</p>
        </div>
        <div class="col AC_header">
        </div>
    </div>

    @foreach (ActiviteitVM a in Model.activiteiten)
    {
        <div class="row">
            <div class="col AC">
                <p>@a.Type</p>
            </div>
            <div class="col AC">
                <p>@a.Name</p>
            </div>
            <div class="col AC">
                <p>@a.Date</p>
            </div>
            <div class="col AC">
                <p>@a.Date</p>
            </div>
            <div class="col">
                <form asp-controller="Edit" asp-action=Index asp-route-id=@a.ID method="post">
                    <input type="submit" value="Edit" class="btn btn-primary" />
                </form>
                <form asp-controller="Home" asp-action=DeleteActivity asp-route-id=@a.ID method="post">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>
        </div>
    }
</div>